<!-- <div
  class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96"
>
  <div class="p-4">
    <h6 class="mb-2 text-slate-800 text-xl font-semibold">
      Location: {{ place.name }}, <small>Season: {{ place.season }}</small>
    </h6>
    <p class="text-slate-600 leading-normal font-light">
      {{ place.description }}
    </p>
    <em>Vibes: </em><i>{{ place.vibes }}</i>
  </div>
  <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
    <img [src]="place.image" alt="card-image" />
  </div>
</div> -->

<div
  class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96"
>
  <div class="relative p-2.5 h-96 overflow-hidden rounded-xl bg-clip-border">
    <img
      [src]="place.image"
      alt="card-image"
      class="h-full w-full object-cover rounded-md"
    />
  </div>
  <div class="p-4">
    <div class="mb-2 flex items-center justify-between">
      <p class="text-slate-800 text-xl font-semibold">
        {{ index + 1 }}. Location: {{ place.name }}
      </p>
      <p class="text-cyan-600 text-xl font-semibold">$95.00</p>
    </div>
    <small>Season: {{ place.season }}</small>
    <p class="text-slate-600 leading-normal font-light">
      {{ place.description }}
    </p>
    <em>Vibes: </em><i>{{ place.vibes }}</i>
    <button
      class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
      (click)="onPlacing()"
    >
      Book Now
    </button>
  </div>
</div>
