<div class="bg-black max-w-2xl shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-white">Country Details</h3>
    <p class="mt-1 max-w-2xl text-sm text-white">
      Details and informations about country.
    </p>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-black px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Name</dt>
        <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
          {{ name }}
        </dd>
      </div>
      <div class="bg-black px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Code</dt>
        <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
          {{ code }}
        </dd>
      </div>
      <div class="bg-black px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Longitude</dt>
        <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
          {{ longitude }}
        </dd>
      </div>
      <div class="bg-black px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">Latitude</dt>
        <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
          {{ latitude }}
        </dd>
      </div>
      <div class="bg-black px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-white">About</dt>
        <dd class="mt-1 text-sm text-white sm:mt-0 sm:col-span-2">
          To get social media testimonials like these, keep your customers
          engaged with your social media accounts by posting regularly yourself
        </dd>
      </div>
    </dl>
  </div>
</div>
